extends layout

block content
  h1= title
  .container-fluid 
    .row 
      each value,key in results
        div(class="col-sm-2" onclick=`buy(${key})`) 
            = value.donut_Name+" "+value.shop+" "+value.price
            br
  script.
    function buy(index){
      alert("You purchased item "+index)
    }
   


