extends layout

block content
  h1= title
  .container-fluid 
    .row 
    .m-1
      each value,key in results
        - let destination = `dispatch(\"/donuts/update?id=${value._id}\")` 
        div(class="col-sm-2" onclick=`buy(${key})`) 
            = value.donut_Name+" "+value.shop+" "+value.price
            br
        button.btn( class="btn-primary ml-1", onclick= destination) Update 
   
  script. 
    function dispatch(path){ 
      window.location.href=path 
    } 
  script.
    function buy(index){
      alert("You purchased item "+index)
    }
   


